.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
build/
coverage/
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore
*.iml
